@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --carousel-indicator-width: 0;
  --carousel-indicator-position: 0;
}

@layer base {
  html {
    box-sizing: border-box;
    font-size: calc(14px + 4 * ((100vw - 320px) / 960));
    overscroll-behavior: none;
    margin: 0 !important;

    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
      position: relative;
      font-weight: normal;
    }
  }

  body {
    height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  @media all and (min-width: 1024px) {
    html {
      font-size: 18px;
    }
  }

  @media all and (max-width: 767px) {
    html {
      font-size: 16px;
    }
  }
}

@layer components {
  .btn {
    @apply rounded-md;
  }

  .btn.router-link-exact-active {
    @apply btn-info;
  }

  .btn-outline {
    @apply border-2;
  }

  .card {
    @apply rounded-md;
  }

  .app-container {
    @apply p-10 relative;
  }

  .carousel-indicator {
    @apply w-full h-2 rounded-box bg-neutral relative;
    transform-style: preserve-3d;
  }

  .carousel-indicator::after {
    @apply content-[""] block absolute h-full bg-primary rounded-box;
    width: var(--carousel-indicator-width);
    left: var(--carousel-indicator-position);
  }
}

#__plasmo {
  height: 100vh;
  max-height: 100vh;
}

#main {
  display: grid;
  grid-template-rows: 90px auto;
}
